{% extends "bootstrap/base.html" %}

{% block title %}
Dashboard
{% endblock %}

{% block styles %}
{{super()}}
<link rel="stylesheet" href="{{url_for('.static', filename='stocks.css')}}">
{% endblock %}

{% block content %}
<div class="topnav">
    <a href="{{ url_for('stocks') }}"><img src="static/logo.png" id="logo" style="width:100px;height:75px;"></a>
    <a href="{{ url_for('stocks') }}" class="navLinks"><b>Stocks</b></a>
    <a href="{{ url_for('stopOrders') }}" class="navLinks"><b>Stop Orders</b></a>
    <a href="{{ url_for('account') }}" class="navLinks"><b>Account</b></a>
    <a href="{{ url_for('logout') }}" class="navLinks"><b>Logout</b></a>
</div>

<div id="formsDiv">
    <div style="display: inline-block;">
        <form action="/addStock">
            <input type="submit" id="createBtn" value="Add Stock">
        </form>
    </div>
    <div>
        <form action="/sellStock">
            <input type="submit" id="sellBtn" value="Sell Stock">
        </form>
    </div>
</div>

<table id="table">
    <tr>
        <th class="header">ID</th>
        <th class="header">Stock Ticker</th>
        <th class="header">Shares</th>
        <th class="header">Cost of Share</th>
        <th class="header">Total Cost</th>
        <th class="header">Current Price</th>
        <th class="header">Shares Sold</th>
        <th class="header">Sell Price</th>
        <th class="header">Profit/Loss</th>
        <th class="header">Returns</th>
    </tr>
    {% for i in arrayIndexes %}
        <tr>
            <td>{{ stock_list[i].id }}</td>
            <td>{{ stock_list[i].stockName }}</td>
            <td>{{ stock_list[i].numShares }}</td>
            <td>{{ stock_list[i].stockPrice }}</td>
            <td>{{ stock_list[i].stockPrice * stock_list[i].numShares }}</td>
            <td>{{ currentPrices[i] }}</td>
            {% for sold in sold_list %}
                {% if sold.stockID == stock_list[i].id %}
                    <td>{{ sold.num_shares }}</td>
                    <td>{{ sold.stock_price }}</td>
                    <td>{{ (sold.stock_price * sold.num_shares) - (stock_list[i].stockPrice * stock_list[i].numShares) }}</td>
                    <td>{{ (stock_list[i].stockPrice * stock_list[i].numShares) + ((sold.stock_price * sold.num_shares) - (stock_list[i].stockPrice * stock_list[i].numShares)) }}</td>
                {% endif %}
            {% endfor %}
        </tr>
    {% endfor %}
</table>
{% endblock %}